/* feel free to go on google fonts and change this to another font! */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");


/* == UI COMPONENTS == */

/* grid */
.grid{
  display: grid;
  grid-column: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: white;
}

/* buttons */
[type="button"],
[type="submit"],
button,
.a-button,
.yellow-button,
.transp-button,
.green-button {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  /* if you change the font, don't forget to change it here too! */
  font-family: 'DM Sans', sans-serif;
  padding: .6rem 1.2rem;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1;
  border-radius: 10px;
  margin-bottom: 3%;
  margin-top: 10px;
}

[type="button"]:hover,
[type="submit"]:hover,
button:hover {
  background-color: white;
}

.buttons {
  text-align: justify;
}

/* == HTML == */
*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 18px;
}

div {
  margin-bottom: 1rem;
}

/* body */

.bio{
  background-color: #fbf3e3;
  padding-bottom: 0.05rem;
}

.about{
  background-color: #fbf3e3;
  padding: 0.5rem 2rem 0.5rem 2rem;
  color: #042c6c;
}

.bio-list{
  list-style-type: none;
  color: #042c6c;
}


.bold{
  font-weight: bold;
  font-size: 1.25rem;
}

body {
  box-sizing: border-box;
  min-height: 100%;
}


/* Anchors */
a {
  border-bottom: 3px solid #beebaa44;
  color: #5a7913;
  font-weight: 800;
  font-size: 1rem;
  text-decoration: none;
}

a:hover {
  background-color: #beebaa44;
}

/* paragraph */
/* == HEADERS == */
h1,
h2,
h3,
h4 {
  color: #042c6c;
  margin-top: 2rem;
  line-height: 1.2;
  background-color: white;
}


h1 {
  font-size: 1.6rem;
  background-color: #fbf3e3;
}

h4 {
  padding: 20px;
}

/**/
.wrapper,
.container {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  transition: all 0.3s ease;
}

.content{
  background-color: #fbf3e3;
  padding-left: 
}

.container::before,
.container::after,
.wrapper::before,
.wrapper::after {
  display: table;
  content: "";
  clear: both;
  width: 100%;
}

.main {
  margin: 2rem;
}

.masthead {
  margin: 3rem 0;
  border-bottom: 1px solid black;
}

.footer {
  clear: both;
  position: relative;
  height: 200px;
  color: #eee;
  height: 2.5rem;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: #042c6c;
}

/* Me */
.me{
  width: 14rem;
  height: 10rem;
  object-fit: cover;
  box-shadow: -5px 5px 5px 0px  #042c6c;
}